<form method="POST" action="">
    OrderID <input type="number" name="OrderID"  required/>
    <br>
    CustomerID <input type="text" name="CustomerID" required/>
    <br>
    EmployeeID <input type="number" name="EmployeeID" required/>
    <br>
    OrderDate <input type="text" name="OrderDate" required/>
    <br>
    RequiredDate <input type="text" name="RequiredDate" required/>
    <br>
    ShippedDate <input type="text" name="ShippedDate" required/>
    <br>
    ShipVia <input type="number" name="ShipVia"/>
    <br>
    Freight <input type="number" step=".01" name="Freight" required/>
    <br>
    ShipName <input type="text" name="ShipName" required/>
    <br>
    ShipAddress <input type="text" name="ShipAddress" required/>
    <br>
    ShipCity <input type="text" name="ShipCity" />
    <br>
    ShipRegion <input type="text" name="ShipRegion" />
    <br>
    ShipPostalCode <input type="text" name="ShipPostalCode" />
    <br>
    ShipCountry <input type="text" name="ShipCountry" />
    <br>
    <input type="submit">
  </form>