<form method="POST" action="">
  ProductID <input type="number" name="ProductID"  required/>
    <br>
    ProductName <input type="text" name="ProductName" required/>
    <br>
    SupplierID <input type="number" name="SupplierID" required/>
    <br>
    CategoryID <input type="number" name="CategoryID" required/>
    <br>
    QuantityPerUnit <input type="text" name="QuantityPerUnit" required/>
    <br>
    UnitPrice <input type="number" step=".01" name="UnitPrice" required/>
    <br>
    UnitsInStock <input type="number" name="UnitsInStock"/>
    <br>
    UnitsOnOrder <input type="number" name="UnitsOnOrder" required/>
    <br>
    ReorderLevel <input type="number" name="ReorderLevel" required/>
    <br>

    Discontinued <input type="number" name="Discontinued" />
    <br>
    <input type="submit">
  </form>